<div class="footer">
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-pills nav-justify">
				<li><a ui-sref="statistics">Statistics</a></li>
				<li><a ui-sref="members">Members</a></li>
				<li><a ui-sref="subjects">Subjects</a></li>
			</ul>
			<ul class="nav nav-pills nav-justify">
				<li><a ui-sref="home"><span class="glyphicon glyphicon-copyright-mark"></span> 2015 HOME</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="terms">Terms And Conditions</a></li>
			</ul>
		</div>
	</div>
</div>