<div class="collapse in" id="mainContainer">
	<div class="jumbotron">
		<p>A personal <i>public</i> library for learning purposes. It contains subjects, created by you, where they will store your preferred books. Selecting a subject, you will see the assigned books.</p>
		<p>This is a functional example of a Website using these current and fantastic technologies:</p>
		<h3>Server Side</h3>
		<ul>
			<li><a href="https://nodejs.org/" target="_blank">NodeJS</a>: the motor</li>
			<li><a href="https://www.mongodb.org/" target="_blank">MongoDB</a>: the memory, executing queries</li>
			<li><a href="http://expressjs.com/" target="_blank">ExpressJS</a>: dispatching responses from client's requests, CORS</li>
			<li><a href="http://yui.github.io/yuidoc/" target="_blank">YUIDoc - JavaScript Documentation Tool</a>: the name says it (planned)</li>
		</ul>
		<h3>Front-End</h3>
		<ul>
			<li><a href="https://angularjs.org/" target="_blank">Angular</a>: workflow, ui-router</li>
			<li><a href="https://developers.google.com/books" target="_blank">Google Books API</a>: JSON data</li>
			<li><a href="https://jquery.com/" target="_blank">JQuery</a>: DOM</li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>: UI (don't pay attention to UX)</li>
			<li><a href="http://yui.github.io/yuidoc/" target="_blank">YUIDoc - JavaScript Documentation Tool</a>: the name says it (planned)</li>
		</ul>
		<p>It shows some <i>how to</i>'s and other details about MongoDB and routing with AngularUI Router.</p>
		<p>It's very simple. Look for books by taping the title and choose one from the list. This list come from <a href="https://developers.google.com/books">Google's servers</a>.</p>
		<p>Click on any book to edit its details. This specific data is stored into our MongoDB database, not Google's. To edit your bookshelfs on Google Books, visit the <a href="https://developers.google.com/books" target="_blank"> Google Books API</a> page. This info won't go to Google because I want explain you <a href="http://docs.mongodb.org/manual/" target="_blank">MongoDB</a> boundaries and fonctionnalities (not all but enough to make functional this example).</p>
	</div>
	<p><a class="btn btn-lg btn-success" onclick="$('#mainContainer').toggle();">Have fun <span class="glyphicon glyphicon-thumbs-up"></span></a></p>
	<p>&nbsp;</p>
</div>